<div class="nav">
    <ul>
        <li><a href="{{ site.baseurl }}/user-guide/introduction">Introduction</a></li>
        <li><a href="{{ site.baseurl }}/user-guide/generators">Number Generators</a></li>
        <li><a href="{{ site.baseurl }}/user-guide/string-generators">String Generators</a></li>
        <li><a href="{{ site.baseurl }}/user-guide/other">Other Generators</a></li>
        <li><a href="{{ site.baseurl }}/user-guide/collections">Collections</a></li>
        <li><a href="{{ site.baseurl }}/user-guide/joda-date-time">Joda DateTime</a></li>
        <li><a href="{{ site.baseurl }}/user-guide/test-failures">Reproducing Test Failures</a></li>
    </ul>
</div>