<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ site.baseurl }}/">Home</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ site.baseurl }}/user-guide/introduction">Introduction</a></li>
                <li><a href="{{ site.baseurl }}/user-guide/generators">Number Generators</a></li>
                <li><a href="{{ site.baseurl }}/user-guide/string-generators">String Generators</a></li>
                <li><a href="{{ site.baseurl }}/user-guide/other">Other Generators</a></li>
                <li><a href="{{ site.baseurl }}/user-guide/collections">Collection Generators</a></li>
                <li><a href="{{ site.baseurl }}/user-guide/joda-date-time">Joda DateTime</a></li>
                <li><a href="{{ site.baseurl }}/user-guide/test-failures">Reproducing Test Failures</a></li>
            </ul>
        </div>
    </div>
</div>